.wp-block-cjsb-accordion {
	--cjsb-acc-button-padding: 1em 0;
	--cjsb-acc-button-bg: transparent;
	--cjsb-acc-button-bg-active: transparent;
	--cjsb-acc-button-color: inherit;
	--cjsb-acc-button-color-active: inherit;
	--cjsb-acc-button-border-color: rgb(0 0 0 / 10%);
	--cjsb-acc-button-border-color-active: transparent;
	--cjsb-acc-button-outline-focus: red;
	--cjsb-acc-title-font-family: inherit;
	--cjsb-acc-title-font-size: 1.5em;
	--cjsb-acc-title-font-weight: 400;
	--cjsb-acc-icon-size: 1em;
	--cjsb-acc-icon-padding: 0 1em;
	--cjsb-acc-content-padding: 0 0 0 0;
	--cjsb-acc-transition: 0.2s ease;

	&__button {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: var(--cjsb-acc-button-padding);
		color: var(--cjsb-acc-button-color);
		background: var(--cjsb-acc-button-bg);
		border: none;
		border-bottom: 1px solid;
		border-color: var(--cjsb-acc-button-border-color);
		transition: var(--cjsb-acc-transition);

		&:not(.has-text-align-center),
		&:not(.has-text-align-right) {
			text-align: left;
		}

		&:hover,
		&:focus-visible {
			cursor: pointer;
			color: var(--cjsb-acc-button-color-active);
			background: var(--cjsb-acc-button-bg-active);
		}

		&:focus-visible {
			outline-color: var(--cjsb-acc-button-outline-focus);
			outline-offset: 0.25em;
		}

		&[aria-expanded="true"] {
			border-color: var(--cjsb-acc-button-border-color-active);
			color: var(--cjsb-acc-button-color-active);

			+ .wp-block-cjsb-accordion__content {
				opacity: 1;
				max-height: 100rem;
				transition: var(--cjsb-acc-transition);
				will-change: opacity, max-height;
			}

			.wp-block-cjsb-accordion__icon {
				transform: rotate(-180deg);
			}
		}
	}

	&__title {
		display: block;
		width: 100%;
		font-family: var(--cjsb-acc-title-font-family);
		font-size: var(--cjsb-acc-title-font-size);
		font-weight: var(--cjsb-acc-title-font-weight);
	}

	&__icon {
		padding: var(--cjsb-acc-icon-padding);
		transition: var(--cjsb-acc-transition);

		svg {
			height: var(--cjsb-acc-icon-size);
			width: var(--cjsb-acc-icon-size);
			vertical-align: middle;
		}
	}

	&__content {
		padding: var(--cjsb-acc-content-padding);
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		will-change: opacity, max-height;
		transition: var(--cjsb-acc-transition);
	}

	&.is-style-icon-on-left {
		.wp-block-cjsb-accordion__icon {
			order: 1;
		}

		.wp-block-cjsb-accordion__title {
			order: 2;
		}
	}
}
